Source: auxlaunch
Section: x11
Priority: extra
Maintainer: Christian M. Amsüss <chrysn@fsfe.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: python
Standards-Version: 3.8.0
Homepage: http://aliasid.googlepages.com/auxlaunch

Package: auxlaunch
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-gtk2, python-dbus
Recommends: wmctrl
Description: app launcher for the Neo Freerunner
 Auxlaunch is a simple application launcher for the Neo Freerunner.
 .
 Once started, it waits for the AUX button (top left) to be pressed and
 subsequently shows a configuratble list of applications.
