#!/usr/bin/make -f
# -*- makefile -*-

configure: configure-stamp
configure-stamp:
	dh_testdir
	
	# nothing to be configured

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir

	# nothing to be compiled

	#docbook-to-man debian/auxlaunch.sgml > auxlaunch.1

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# nothing to be cleaned

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/auxlaunch.
	cp -a auxlaunch $(CURDIR)/debian/auxlaunch/usr/bin/
	# cp -a README $(CURDIR)/debian/auxlaunch/usr/share/doc/auxlaunch/ # done automatically
	cp -a .auxlaunchrc $(CURDIR)/debian/auxlaunch/usr/share/doc/auxlaunch/examples/auxlaunchrc


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
